.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  margin-top: 50px;
  background-color: #f2f2f2;
  height: 70px;
  width: "100%";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #c1cacc;
}

.user {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.username {
  padding-left: 10px;
  padding-top: 15px;
}

.logout {
  margin-right: 50px;
  cursor: pointer;
}

.text-left {
  text-align: left;
}

.column-width {
  width: 70%;
  text-align: left;
}

.tasks {
  overflow: scroll;
}

.linethrough {
  text-decoration: line-through;
}

.image {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shadow_btn {
  color: #61dafb;
  /* font-size: 10px; */
}
